<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/module.js"></script>
    <style>
       #map {
        height: 100%;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <ul>
      <li><a href="/" class="nearbi">Nearbi</a></li>
      <li><div class='search'>
        <input type="text" placeholder="Enter a location" id="searchBox">
        <button class="search-submit">Search</button>
      </div></li>
      <li style="float: right" class="dropdown">
        {{#if user}}
        <a href="javascript:void(0)" class="dropbtn">Hi, {{user.username}}</a>
          <div class="dropdown-content">
            <a href="/#">Account</a>
            <a href="/logout">Logout</a>
          </div>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </li>
    </ul>

    <div class="map-container">
      <div id="map"></div>
      <script src="/js/map.js"></script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6Aqoh98DuLlb6tGdfuA7vXyFEfn1LeQc&libraries=places&callback=initMap">
      </script>
    </div>

    <div class="event-pane">
      <div class="event-detail">
        <h1>Event Pane</h1>
        <p class="content">Welcome to {{title}}! Event details will show up here. To get started, search for a location and click on a pointer on the map.</p>
<!--         <script src="/js/event-api.js"></script> -->
        <div id="event-data"></div>
      </div>
    </div>
  
  </body>
</html>
