<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <form action="/signup" method="post">
      <div class="window">
        <h1>Register</h1>
        <div class="form">
          <input type="text" name="username" placeholder="Username"/>
          <input type="password" name="password" placeholder="Password"/>
            <input type="submit" value="Sign Up"/>
        </div>
    </form>
  </body>
</html>

<!-- Sourced from class's passport.js boilerplate -->
