/*CSS for login/signup screens. 
Originally sourced from http://codepen.io/larrygeams/pen/Itear */
/*Some parts of this are also found elsewhere in the code, generally wherever there are buttons/inputs.*/

/*Citation: https://css-tricks.com/perfect-full-page-background-image/*/
html {
	background: url("../images/flare.png") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

h1 {
  color: #fff;
  text-align: center;
  font: 36px "Trebuchet MS", sans-serif;
  font-weight: normal;
}

.window {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding-top: 80px;
}

.form {
  width: 400px;
  height: 230px;
  background: #edeff1;
  margin: 0px auto;
  padding-top: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

input[type="text"], input[type="password"] {
  display: block;
  width: 309px;
  height: 35px;
  margin: 15px auto;
  background: #fff;
  border: 0px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

input[type="submit"] {
  display: block;
  background: #33cccc;
  width: 314px;
  padding: 12px;
  cursor: pointer;
  color: #fff;
  border: 0px;
  margin: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 17px;
}

input[type="submit"]:hover {
  background: #009999
}

a {
  text-align: center;
  font-family: Arial;
  color: gray;
  display: block;
  margin: 15px auto;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  color: #1abc9d;
}


::-webkit-input-placeholder {
   color: gray;
}

:-moz-placeholder { /* Firefox 18- */
   color: gray;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: gray;  
}

:-ms-input-placeholder {  
   color: gray;  
}